@{
  string divEditId = Model.tableName + "EditForm";
  string pkId = Model.tableName + "Id";
  string submitBtnId = "add" + Model.TableName + "Btn";
  string apiAddUrlKey = "Api" + Model.TableName + "Add";
  string apiItemUrlKey = "Api" + Model.TableName + "Item";
}
<div class="page" id="@divEditId">
  <input type="hidden" name="Id" value="" id="@pkId" />
  <input type="hidden" name="ItemCode" value="" />
  <p class="article-title" id="editFormTitle"></p>
  @foreach (Dictionary<string, string> item in Model.columns)
  {
    <label class="input-label">@item["fieldTitle"]</label>
    if (item["dbtype"].Contains("date"))
    {
      <input class="input-text" name="" type="text" value="" onclick="MyDatePick()" placeholder="请输入 @item["fieldTitle"]" vtype="notnull|date" verrmsg="必填项|日期无效">
    }
    else
    {
      <input class="input-text" name="@item["fieldName"]" type="text" value="" placeholder="请输入 @item["fieldTitle"]" vtype="notnull" verrmsg="必填项" maxlength="@item["maxlen"]">
    }
  }
  <hr class="line" />
  <div class="grids-3">
    <a class="btn lg success" id="@submitBtnId">提交</a>
    <i></i>
    <a class="btn lg" id="resetFormBtn">清空(重置)</a>
  </div>
  <div class="mg-tb-10" id="msginfobox"></div>
</div>
<script>
  ((win) => {
    // help
    let post = win.ns.post;
    let get = win.ns.get;
    let cfg = win.ns.cfg;
    let page = win.ns.page;
    let token = win.ns.token;
    let router = win.ns.router;
    let msg = win.msgshow('#msginfobox');

    //===========
    // page init
    //===========
    // 去掉上次的提示语
    msg.clear();
    chgTitle();
    // 下拉框数据

    // 绑定提交按钮
    $('#@submitBtnId').click(thisBtn => {
      add(thisBtn);
    });
    // 绑定重置
    $('#resetFormBtn').click(thisBtn => {
      resetForm();
    });
    // list页面跳过来编辑,使用数据填充表单
    if (router.para && router.para.op == 'edit' && router.para.@pkId) {
      $('#@pkId').val(router.para.@pkId);
      // 编辑时请求数据,如果出错,尝试20次
      initEditData();
      router.para = null;
    }
    //===========
    // function
    //===========
    /**
     * 由list页面跳过来编辑时,需要请求数据填充表单.
     * @@param {number} maxCount 最多请求次数
     */
    function initEditData(maxCount = 20) {
      return;
      // 要等待下拉框数据填充后,才请求
      if (!$('#selectid1 option').length) {
        if (maxCount <= 0) return;
        setTimeout(() => { initEditData(maxCount - 1) }, 500);
        return;
      }
      post(cfg.@apiItemUrlKey, { id: $('#@pkId').val() })
        .then(data => {
          if (data.errcode == @AutoCode.ErrCode.Success) {
            let item = data.item;
            // 填充表单
            $('#@divEditId input[name]').each(o => {
              o.value = item[o.name];
            })
            // 选中选项
            $('#selectid1 option[value="' + item.ExcOrg + '"]')[0].selected = 'selected';
            // 提示更新状态
            chgTitle(1);
          } else if (data.errcode ==@AutoCode.ErrCode.SrvExp) {
            msg.err(data.errmsg || '@AutoCode.AlertMsg.服务器错误.ToString()');
          } else
            msg.info(data.errmsg);
        })
        .catch(err => {
          msg.err(err.message);
        });
    }
    /**
     * 下拉框填充数据
     * @@param {string} selectId select元素Id
     * @@param {number} dataCategory 下拉框数据分组类型
     */
    function createOptions(selectId, dataCategory) {
      return;
      if ($('#' + selectId).find('option').length) {
        return;
      }
      post(cfg.ApiSelectUrl, { category: dataCategory })
        .then(data => {
          if (data.errcode == @AutoCode.ErrCode.Success) {
            let ops = '<option value="">请选择...</option>';
            for (var i = 0, len = data.list.length; i < len; i++) {
              let item = data.list[i];
              if (item.Enabled == 0)
                continue;
              let op = `<option value="${item.Code}" title="${item.Comment}">${item.Title}</option>`;
              ops += op;
            }
            $('#' + selectId).html(ops);
          } else if (data.errcode == @AutoCode.ErrCode.SrvExp) {
            msg.err(data.errmsg || '@AutoCode.AlertMsg.服务器错误.ToString()');
          } else
            msg.info(data.errmsg);
        })
        .catch(err => {
          msg.err(err.message);
        });
    }

    /**
     * 添加按钮
     * @@param thisobj 按钮对象
     */
    function add(thisobj) {
      return;
      // 验证
      // valdate
      let inputs = $('#@divEditId').find('input[name],select[name]');
      for (var i = 0, len = inputs.length; i < len; i++) {
        if (!$.formCheck(inputs[i]))
          return;
      }
      if ($ui.isBtnLoading(thisobj)) {
        return;
      }
      // 发包
      let para = $.formJson($('#@divEditId')[0]);
      post(cfg.@apiAddUrlKey, para)
        .then(data => {
          if (data.errcode == @AutoCode.ErrCode.Success) {
            msg.ok('服务器返回成功!');
            // 成功后重置表单
            resetForm();

          } else if (data.errcode == @AutoCode.ErrCode.SrvExp) {
            msg.err(data.errmsg || '@AutoCode.AlertMsg.服务器错误.ToString()');
          } else
            msg.info(data.errmsg);
          $ui.clsBtnLoading(thisobj, 500);
        })
        .catch(err => {
          msg.err(err.message);
          $ui.clsBtnLoading(thisobj, 500);
        });
    }

    /**
     * 重置表单数据
     */
    function resetForm() {
      let today = $.datefmt(new Date(), 'yyyy/MM/dd');
      // 字段重置
      let def = {
        @foreach (Dictionary<string, string> item in Model.columns)
        {
            @("        "+item["fieldName"]) @Raw(" :" + "'',\r\n")
        }
      };
      // 选项重置
      $('#@divEditId select[name]').each(item => {
        item.selectedIndex = 0;
      })
      chgTitle();
    }

    /**
     * 新增/修改 标题切换 1=修改,其它=新增
     * @@param {number} type
     */
    function chgTitle(type) {
        if (type == 1) {
            $('#editFormTitle').text('🖍 更新').addClass('text-danger');
        } else {
            $('#editFormTitle').text('\u271A 新增').removeClass('text-danger');
        }
    }
  })(window);
</script>
